body{
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 245, 245);
}
.feature-container{
    display: flex;
    margin: 30px;
    padding: 20px;
    height: auto;
    font-size: large;
    font-weight: 600;
}

.fashion-container{
    background-image: url(img/carousel-1.jpg);
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    background-size: 100% 100%;
    color: white;
    width: 60%;
    margin: 20px;
    padding-top: 120px;
    padding-left: 100px;
    padding-right: 100px;
    
}
.offer-container{
    padding: inherit;
    align-items: center;
    width: 40%;
}
.special-offer1{
    background-image: url(img/offer-1.jpg);
    color: white;
    background-size: 100% 100%;
    text-align: center;  
    padding: inherit;
    margin: inherit;
}
.special-offer2{
    background-image: url(img/offer-2.jpg);
    color: white;
    background-size: 100% 100%;
    text-align: center;  
    padding: inherit;
    margin-top: 20px;
}
.shop-btn{
    background-color: rgba(15, 15, 3, 0.051);
    /* opacity: 0.7; */
    height: 40px;
    width: 100px;
    text-decoration: none;
    border-color: white;
}
.shop-btn :hover{
    /* background-color: white; */
    zoom: 1.1;
    color: rgb(242, 29, 29);
    height: 40px;
    width: 100px;
}
.feature-container a{
    color: white;
    text-decoration: none;
    font-weight: 800;
}
/* speciality-section start*/
.speciality-section{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
}
.speciality{
    background-color:white;
    border-radius: 10px;
    width: 350px;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin: 10px;
    
}
.speciality-icon{
    width: 40px;
    padding-right: 15px;
}
/* Catagories Style start */
.catagories-title{
    margin-left: 50px;
}
.horizontal-line{
    /* width: 2px; */
    background-color: rgb(194, 24, 24);
    border: 1px dotted rgb(139, 12, 12);
    width: 50%;
}
.catagories-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 50px;
}
.cat-1{
    display: flex;
    align-items: center;
    /* margin: 50px; */
    background-color: white;
    border-radius: 10px;
}
.cat-text{
    padding-left: 20px;
}

/* Media Qurries
@media only screen and (max-width: 600px)  {
    body{
        background-color: red;
        margin: 0;
        margin-right: 0;
    }
    .feature-container{
        background-color: aqua;
        display: grid;
        grid-template-columns: repeat(1fr, 1fr, 1fr, 1fr);
        width: 350px;
        margin: 0;
        margin-right: 0;
    }
    .fashion-container{
        background-image: url(img/carousel-1.jpg);
        background-size:100%;
        background-repeat: no-repeat;
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
        
    }
    .fashion-container p{
        font-weight: 800;
        font-size: small;

    }
    .offer-container{
        display: grid;
        grid-template-columns: repeat(1fr, 1fr, 1fr, 1fr);
        width: 100%;
        padding: auto;
        margin: 0;
    }
    .offer-container h2 h3{
        font-weight: 800;
        font-size: small;
    }
    .special-offer1{
        background-image: url(img/offer-1.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        padding: auto;
    }
    .special-offer2{
        background-image: url(img/offer-2.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        padding: auto;
    }
    .speciality-section{
        display: grid;
        grid-template-columns: repeat(1fr, 1fr, 1fr, 1fr);
        width: 100%;
        margin: 0;
        
    }
}
*/
