body{
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(231, 227, 247);
}
.feature-container{
    display: flex;
    margin: 30px;
    padding: 20px;
    height: auto;
    font-size: large;
    font-weight: 600;
}

.fashion-container{
    background-image: url(img/carousel-1.jpg);
    justify-content: center;
    background-size: 100% 100%;
    color: white;
    width: 60%;
    margin: 20px;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}
.offer-container{
    padding: inherit;
    align-items: center;
    width: 40%;
}
.special-offer1{
    background-image: url(img/offer-1.jpg);
    color: white;
    background-size: 100% 100%;
    text-align: center;  
    padding: inherit;
    margin: inherit;
}
.special-offer2{
    background-image: url(img/offer-2.jpg);
    color: white;
    background-size: 100% 100%;
    text-align: center;  
    padding: inherit;
    margin-top: 20px;
}
.shop-btn{
    background-color: rgba(15, 15, 3, 0.051);
    /* opacity: 0.7; */
    height: 40px;
    width: 100px;
    text-decoration: none;
    border-color: white;
}
.shop-btn :hover{
    /* background-color: white; */
    zoom: 1.1;
    color: rgb(242, 29, 29);
    height: 40px;
    width: 100px;
}
.feature-container a{
    color: white;
    text-decoration: none;
    font-weight: 800;
}
/* speciality-section start*/
.speciality-section{
    display: flex;
    justify-content: space-evenly;
}
.speciality{
    background-color:white;
    border-radius: 10px;
    width: 350px;
    justify-content: center;
    display: flex;
    padding: 10px;
}
.speciality-icon{
    width: 40px;
    padding-right: 15px;
}
